nav {
    margin-top: 25px;
    display: grid;
    grid-template-rows: 50% 50%;
    min-width: 1000px;
    border-bottom: 1px lightgray solid;
}

#nav-top {
    margin-left: 20px;
    margin-right: 20px;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-div {
    display: flex;
    align-items: center;
    border: black 1px solid;
    width: 700px;
    height: 45px;
    border-radius: 30px;
    margin-left: 30px;
}

#search-div input {
    height: 30px;
    width: 600px;
    margin-left: 20px;
    border: none;
    border-right: 1px solid lightgray;
    outline: none;
}

#search-icons {
    display: flex;
    padding-left: 10px;
}

#mg {
    padding-left: 10px;
}

#google-logo {
    width: 90px;
    height: 30px;
}

#mic {
    width: 20px;
}

#mg {
    width: 20px;
}

#apps-icon {
    width: 25px;
    height: 25px;
}

#headshot {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#nav-bottom {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    width: 815px;
}

#nav-bottom-left {
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bottom-right {
    display: flex;
}